@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MoreSugar;
  font-weight: 400;
  src: url('assets/fonts/moreSugar/MoreSugar-Regular.ttf');
}

@font-face {
  font-family: MoreSugar;
  font-weight: 100;
  src: url('assets/fonts/moreSugar/MoreSugar-Thin.ttf');
}

@font-face {
  font-family: Baloo;
  font-weight: 400;
  src: url('assets/fonts/baloo/Baloo-Regular.ttf');
}

@font-face {
  font-family: Rokkitt;
  font-weight: 400;
  src: url('assets/fonts/rokkitt/Rokkitt-VariableFont_wght.ttf');
}

@font-face {
  font-family: Rokkitt;
  font-weight: 700;
  src: url('assets/fonts/rokkitt/Rokkitt-VariableFont_wght.ttf');
}

@font-face {
  font-family: MochiyPopOne;
  font-weight: 400;
  src: url('assets/fonts/mochiyPopOne//MochiyPopOne-Regular.ttf');
}

body {
  font-family: MoreSugar;
}

@layer base {
  [data-theme='pink'] {
    --picker-color-style-1: #ffffff;
    --picker-color-style-2-1: #ff909d;
    --picker-color-style-2-2: #ffc5c9;
    --picker-color-style-3-1: #595959;
    --picker-color-style-3-2: #a7a9ac;
    --picker-color-style-3-3: #f8f6f7;
    --picker-color-style-3-4: #f1f2f2;
    --picker-color-style-4-1: #ffdf8f;
    --picker-color-style-4-2: #ffeec0;
    --picker-color-style-5-1: #ccefa2;
    --picker-color-style-5-2: #e9f7dc;
    --picker-color-style-5-3: #b7e086;
    --picker-color-style-6-1: #000000;
    --picker-color-style-7-1: #ffe7e7;
    --picker-color-style-8-1: #f1f6f0;
    --picker-color-style-9-1: #fff2de;
  }
}

@layer utilities {
  .polygon-tab {
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  }
  .custom-input-type-range {
    appearance: none;
    width: 100%;
    height: 6px;
    background-color: var(--picker-color-style-3-2);
  }
  .custom-input-type-range::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: var(--picker-color-style-1);
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--picker-color-style-2-1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;
  }

  .hidden-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .visible-scroll-bar::-webkit-scrollbar {
    display: block;
    width: 20px;
  }

  .custom-scroll-bar::-webkit-scrollbar-track {
    background-color: #ffe8f5;
  }

  .custom-scroll-bar-thumb::-webkit-scrollbar-thumb {
    background-color: #ff909d;
    border-radius: 30px;
  }

  .custom-scroll-bar-hidden-button::-webkit-scrollbar-button {
    display: none;
  }
}
