@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MoreSugar;
  font-weight: 400;
  src: url('assets/fonts/moreSugar/MoreSugar-Regular.ttf');
}

@font-face {
  font-family: MoreSugar;
  font-weight: 100;
  src: url('assets/fonts/moreSugar/MoreSugar-Thin.ttf');
}

@font-face {
  font-family: Baloo;
  font-weight: 400;
  src: url('assets/fonts/baloo/Baloo-Regular.ttf');
}

@font-face {
  font-family: Rokkitt;
  font-weight: 400;
  src: url('assets/fonts/rokkitt/Rokkitt-VariableFont_wght.ttf');
}

@font-face {
  font-family: Rokkitt;
  font-weight: 400;
  font-style: italic;
  src: url('assets/fonts/rokkitt/Rokkitt-Italic-VariableFont_wght.ttf');
}

body {
  font-family: MoreSugar;
}

@layer base {
  [data-theme='pink'] {
    --picker-color-text-base: #ffffff;
    --picker-color-fill-button: #ff909d;
    --picker-color-fill-button-muted: #a7a9ac;
  }
}
